<phpunit bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>src/bradleyboy</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix="Test.php">src/bradleyboy/</directory>
        </whitelist>
    </filter>
</phpunit>